apiVersion: v1
kind: Secret
metadata:
  name: o3as-secrets
  namespace: o3as
data:
  O3API_SITE_SECRET: ZHVtbXlzZWNyZXQK
  O3WEB_SITE_SECRET: ZHVtbXlzZWNyZXQK
  RSTORAGE_URL: aHR0cHM6Ly9kYXRhLnJlbW90ZV9zdG9yYWdlLm9yZwo=
  RSTORAGE_USER: cmVhbF91c2VyCg==
  RSTORAGE_PASS: ZHVtbXlzZWNyZXQK