# use: echo -n "secret" | base64
apiVersion: v1
kind: Secret
metadata:
  name: o3as-secrets
  namespace: {{.Values.namespace}}
data:
  O3API_SITE_SECRET: ZHVtbXlzZWNyZXQK
  O3WEB_SITE_SECRET: ZHVtbXlzZWNyZXQK
  RSTORAGE_USER: cmVhbF91c2VyCg==
  RSTORAGE_PASS: ZHVtbXlzZWNyZXQK
